<!DOCTYPE html>
<html>
  <head>
    <title>AgendaDeContatos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Partial cabeçalho -->
    <%= render 'layouts/header' %>

    <div class = "container">
      <!-- Injeta na página o que vier dos controlers -->
      <%= yield %>
    </div>

    <!-- Partial rodapé -->
    <%= render 'layouts/footer' %>

  </body>
</html>
